{% extends g.theme.master %}

{% do g.register_app_css('envision.min.css', compress=False) %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}}{% endblock %}

{% block header %}{{c.project.name}} / {{c.app.config.options.mount_label}}: Tickets{% endblock %}

{% block content %}

    <div class="box" align="center">
    <h2 class="box">Evolution of issues open, closed, per month</h2>

    <div class="container" id="issues-time"></div><br><br>
    <p>Show: [<a href="javascript:displayEvoIssues ('issues-time', '{{g.app_static('joomla/its-timeserie.json')}}', 'all')">all info</a> |
    <a href="javascript:displayEvoIssues ('issues-time', '{{g.app_static('joomla/its-timeserie.json')}}', 'open')">open issues</a> | <a href="javascript:displayEvoIssues ('issues-time', '{{g.app_static('joomla/its-timeserie.json')}}', 'closed')">closed issues</a> | <a href="javascript:displayEvoIssues ('issues-time', '{{g.app_static('joomla/its-timeserie.json')}}', 'changed')">changed issues</a>]</p>
    <p>Top chart shows number of issues (tickets) open and closed, and the total number of modifications to tickets per month. Below it, number of people involved in modifications to tickets (issues) during that month. The bottom chart shows number of modifications to tickets per month, and allows the selection of the period to show in the upper charts. Move the pointer over the upper charts to see the numbers. [<a href="{{g.app_static('joomla/its-timeserie.json')}}">Data</a>]</p>
    </div>

    </div>
    <div align=right>
    Powered by <a href="http://www.bitergia.com"><img src="{{g.app_static('bitergia-logo-peq.png')}}" border=0></a>
    </div>

<script type="text/javascript" src="{{g.app_static('envision.min.js')}}"></script>
<script type="text/javascript" src="{{g.app_static('jquery-1.7.1.min.js')}}"></script>
<script type="text/javascript" src="{{g.app_static('swscopio.js')}}"></script>
<script type="text/javascript">
	(function() {
        displayEvoIssues ('issues-time','{{g.app_static('joomla/its-timeserie.json')}}');
	})()
</script>

{% endblock %}
