{% extends g.theme.master %}

{% do g.register_app_css('envision.min.css', compress=False) %}

{% block title %}{{c.project.name}} / {{c.app.config.options.mount_label}}{% endblock %}

{% block header %}{{c.project.name}} / {{c.app.config.options.mount_label}}: Source code{% endblock %}

{% block content %}

    <div class="box" align="center">
    <h2 class="box">Ratio commits/committer per month</h2>
    <div class="container" id="ratio-time"></div>
    <p>Both charts show ratio commits per committer per month. Bottom chart allows the selection of the period to show in the upper chart.  [<a href="{{g.app_static('joomla/commits-timeserie.json')}}">Data</a>]</p>
    </div>
    </div>
    <div align=right>
    Powered by <a href="http://www.bitergia.com"><img src="{{g.app_static('bitergia-logo-peq.png')}}" border=0></a>
    </div>

<script type="text/javascript" src="{{g.app_static('envision.min.js')}}"></script>
<script type="text/javascript" src="{{g.app_static('jquery-1.7.1.min.js')}}"></script>
<script type="text/javascript" src="{{g.app_static('swscopio.js')}}"></script>
<script type="text/javascript">
	(function() {
        displayCommitsRatio ('ratio-time','{{g.app_static('joomla/commits-timeserie.json')}}');
	})()
</script>

{% endblock %}
