<html>
  <head>
    <style type="text/css">
      body {
        margin: 0px;
        padding: 0px;
        font:100% Verdana;
      }
      .container {
        width : 600px;
        margin: 8px auto;
      }
      .box {
        margin: 8px auto;
        text-align:center;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="envision.min.css" />
  </head>
<body>

<p><img src="bitergia-logo.png"><h1>Evolution of Allura</h1></p>

<p>
Proof of concept of how some parameters of the evolution of a software project can be visualized. 
Allura integation. Visualization is still preliminary and incomplete.
</p>

    <div class="box">
    <h2>Commits, committers per month</h2>
    <div class="container" id="commits-time"></div>
    <p>Top chart shows number of commits per month. Below it, number of committers active 
    during the same month. The bottom chart shows also number of commits per month, and allows 
    the selection of the period to show in the upper charts. Move the pointer over the upper 
    charts to see the numbers. [<a href="{{g.app_static('tickets_per_month.json')}}">Data</a>]</p>
    </div>
  
  <!-- <ul>
  <li># Bicho Stats for Allura tickets </li>
   {% if tickets_per_month %}  
	  {% for row in tickets_per_month %}
	  	<li>Tickets per month: {{row}}</li>
	  {% endfor %}
	{% endif %}
  </ul> -->

<script type="text/javascript" src="envision.min.js"></script>
<script type="text/javascript" src="jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="swscopio.js"></script>
<script type="text/javascript">
	(function() {
		// displayEvoTickets('commits-time', '{{g.app_static('tickets_per_month.json')}}'),
		displayEvoCommits('commits-time','commits-timeserie_kde.json')
	})()
</script>

</body>
</html>